name: Test

on: [push, pull_request]

jobs:
  test:
    name: ${{ matrix.os }}, node ${{ matrix.node }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [14, 16]
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup macOS
        # Fix 'nvm is not compatible with the npm config "prefix" option' error on macOS
        run: unset npm_config_prefix
        if: runner.os == 'macOS'
      - uses: actions/setup-python@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          check-latest: true
      - name: Clean install
        run: npm ci --ignore-scripts
        # Make sure no new dependencies were installed after running 'npm ci'
      - name: Make sure branch is clean
        run: git diff --exit-code
      - name: Lint
        run: npm run lint
      - name: Pack Maven GAV Reader
        run: mvn clean package -f resources/maven-gav-reader/pom.xml -B
      - name: Install JFrog CLI for connectionManager tests
        run: curl -fL https://install-cli.jfrog.io | sh && jf -v
      - name: Tests on macOS, Windows
        run: npm t
        if: runner.os != 'Linux'
      - name: Tests on Linux
        # Run tests with Virtual frame buffer to allow running VS-Code without a display
        run: xvfb-run npm t
        if: runner.os == 'Linux'
